<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        .container {
            text-align: center;
        }

        .header {
            font-size: 30px;
            font-weight: bold;
            font-family: 黑体;
        }

        .tips {
            font-size: 16px;
            font-family: 宋体;
            color: darkgrey;
        }

        .code, .company {
            font-weight: bold;
            font-size: 18px;
            font-family: 黑体;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <p>校友邦验证邮件</p>
        <hr>
    </div>
    <div class="mid">
        <div>
            <p>
                尊敬的用户，欢迎您使用<span class="company" th:text="${company}"/>。您的验证码是：<span class="code" th:text="${code}"/>
                有效期为3分钟, 请立即验证。请勿将此验证码告知他人！
            </p>
        </div>
        <div class="tips">
            <p>( 如您非您本人操作请联系系统管理员, 请勿直接回复本邮件 )</p>
            <br>
            <hr>
        </div>
        <div>
            <p>
                Dear users, welcome to use <span class="company" th:text="${companyEn}"/>.Your verification code is:<span
                    class="code" th:text="${code}"/>, valid for 3 minutes, please verify immediately.Do not disclose this verification code to others!
            </p>
        </div>
        <div class="tips">
            <p>( If you are not your own operation, please contact the system administrator, do not directly reply to this email )</p>
            <br>
        </div>
    </div>

</div>
<p>


</p>
</body>
</html>
